.home{
    margin: auto;
    width: 70%;
    height: 100%; 
    border: 2px solid grey; 
    box-shadow: 5px 5px grey;
    border-radius: 5px; 
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 900px) and (min-height: 400px) {
  .home {
      width: 900px;
  }
}